In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\dell\anaconda3\lib\site-packages (4.0.1)

In [2]:
import pymongo

In [3]:
client=pymongo.MongoClient()

In [4]:
mydb=client['Employee']

In [5]:
mycol=mydb['empinfo']

In [8]:
data={
        'firstname':'Anjali',
        'lastname':'Kadre',
        'department':'Analytics',
        'qualification':'Statistics',
        'age':21
        }

In [10]:
mycol.insert_one(data)

In [11]:
data1=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [12]:
mycol.insert_many(data1)

In [13]:
##query
mycol.find_one()

{'_id': ObjectId('621df23b090a4c6b6ed9dc91'),
 'firstname': 'Anjali',
 'lastname': 'Kadre',
 'department': 'Analytics',
 'qualification': 'Statistics',
 'age': 21}

In [14]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('621df23b090a4c6b6ed9dc91'), 'firstname': 'Anjali', 'lastname': 'Kadre', 'department': 'Analytics', 'qualification': 'Statistics', 'age': 21}
{'_id': ObjectId('621df2a7090a4c6b6ed9dc92'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('621df2a7090a4c6b6ed9dc93'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('621df2a7090a4c6b6ed9dc94'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('621df2a7090a4c6b6ed9dc95'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [16]:
for x in mycol.find({'firstname':'Anjali'}):
    print(x)

{'_id': ObjectId('621df23b090a4c6b6ed9dc91'), 'firstname': 'Anjali', 'lastname': 'Kadre', 'department': 'Analytics', 'qualification': 'Statistics', 'age': 21}

In [17]:
## Query documents using query operators($in,$lt,$gt)
for x in mycol.find({'qualification':{'$in':['phd','master']}}):
    print(x)

{'_id': ObjectId('621df2a7090a4c6b6ed9dc94'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('621df2a7090a4c6b6ed9dc95'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [21]:
## And and Query operators
for x in mycol.find({'qualification':'master','age':{'$lt':40}}):
    print(x)

{'_id': ObjectId('621df2a7090a4c6b6ed9dc95'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [22]:
## OR operators
for x in mycol.find({'$or':[{'firstname':'Anjali'},{'qualification':'Statistics'}]}):
    print(x)

{'_id': ObjectId('621df23b090a4c6b6ed9dc91'), 'firstname': 'Anjali', 'lastname': 'Kadre', 'department': 'Analytics', 'qualification': 'Statistics', 'age': 21}

In [23]:
inventory=mydb.inventory

In [24]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [25]:
for x in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(x)

{'_id': ObjectId('621df752090a4c6b6ed9dc96'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [26]:
##update_one,update_many,replace_one

inventory.update_one(
{"item":"postcard"},
{"$set":{"size.uom":"m","status":"P"},
"$currentDate":{"lastModified":True}}
)

In [27]:
inventory.update_many(
    {"qty": {"$lt": 45}},
    {"$set": {"size.uom": "in", "status": "P"},
     "$currentDate": {"lastModified": True}})

In [28]:
inventory.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})